.website_logo {
    height:40px;
}

.footer_links_section {
    display: flex;
    justify-content: space-between;
}

.footer_links_section a {
    color: white;
}

.footer_links_section a:hover {
    color: #cbd3da;
}

.navbar-name {
    font-size: 130%;
    font-weight: 650;
    letter-spacing: 1px;
    color: rgb(238, 220, 206);
    margin-right: 30px;
}

.navbar-name:hover {
    color:rgb(238, 220, 206);
    text-decoration: none;
}

main {
    background-color: rgb(53, 52, 54);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.301);
    padding: 16px;
}

h1, h3, h4, dt {
    color:rgb(238, 220, 206);
}

.main_container {
    max-width:100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 100px;
    margin-left: 100px;
}


.project_td {
    overflow-wrap: break-word;
}


@media (max-width: 1200px){
    .project_td {
        max-width: 100px;
    }
}

@media (max-width: 800px){
    .project_td {
        max-width: 50px;
    }
}


/* WELCOME PAGE CSS */

.welcome_presentation {
    display: flex;
    text-align: left;
    margin: 16px;
}

.welcome_picture img {
    height: 120px;
    margin-right: 16px;
    border-radius: 50%;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.welcome_links {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.welcome_links h3, .welcome_links p {
    color: white;
    padding: 15px;
    border: solid;
    border-color: white;
    border-radius: 50px;
    background-color: rgba(223, 169, 99, 0.322);
    transition: 0.2s ease-in;
}

.welcome_links h3:hover, .welcome_links p:hover {
    text-decoration: none;
    color: rgb(202, 155, 85);
    background-color: white;
    border-color: rgba(202, 155, 85, 0.897);
    transition: 0.2s ease-in;
}

.welcome_links a:hover {
    text-decoration: none;
}

/* PROJECT LIST DISPLAY FOR ACTUAL RENDER */


.project_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.project_list_container hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    color: rgb(238, 220, 206);
}

.individual_project_display {
    width: 80%;
    text-align: center;
    margin:20px;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(238, 220, 206, 0.692);
    transition: 0.2s ease-in;
}

.individual_project_display:hover {
    background-color: rgb(42, 40, 44);
    height: auto;
    font-size: 130%;
    transition: 0.2s ease-in;
}

.individual_project_display:hover .project_image {
    max-height: 300px;
    height: 300px;
    transition: ease-in 0.2s;
}

.individual_project_display:active {
    background-color: rgb(42, 40, 44);
    size: 120%;
    transition: 0.2s ease-in;
}

.project_title {
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(185, 138, 97, 0.685);
}

.project_image {
    max-height:200px;
    max-width: inherit;
    transition: ease-in 0.2s;
}

.project_description {
    color: white;
}

.project_link {
    display: block;
    color: rgb(238, 158, 53);
    transition: 0.2s ease-in;
}

.project_link:hover {
    color: rgb(238, 158, 53);
    font-size: 110%;
    text-shadow: 0 0 4px rgba(224, 172, 103, 0.541);
    transition: 0.2s ease-in;
}

/* FADE IN TESTS */

